<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Vignan_logo.png/771px-Vignan_logo.png" />
  <span>Vignan's Institute of Information Technology</span>
  <div class="spacer"></div>
</div> -->
<div id="loading" class="loading" #loading>
  <mat-spinner></mat-spinner>
</div>
<div class="nav-bar">
  <img src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Vignan_logo.png" />
  <h3>Vignan's Institutes of Information Technology</h3>
</div>

<div class="content">
  <mat-card class="card">
    <a routerLink="student">
      <h1>Student</h1>
    </a>
  </mat-card>
  <mat-card class="card">
    <a routerLink="/employees">
      <h1>Employee</h1>
    </a>
  </mat-card>
  <mat-card class="card">
    <a routerLink="/parent">
      <h1>Parent</h1>
    </a>
  </mat-card>
  <mat-card class="card">
    <a routerLink="/faculty">
      <h1>Faculty</h1>
    </a>
  </mat-card>
</div>

<router-outlet></router-outlet>