<div class="">

    <form #form>

        <mat-card class="card">
            <mat-form-field appearance="fill">
                <mat-label>Department</mat-label>
                <input matInput name="department" type="text" [(ngModel)]="ob.department">
            </mat-form-field>
        </mat-card>

        <mat-card class="card">
            <mat-form-field appearance="fill">
                <mat-label>Academic Year</mat-label>
                <input matInput name="academicYear" type="number" [(ngModel)]="ob.academicYear">
            </mat-form-field>
        </mat-card>

        <mat-card class="card">
            <mat-form-field appearance="fill">
                <mat-label>Regulation</mat-label>
                <input matInput name="regulation" type="text" [(ngModel)]="ob.regulation">
            </mat-form-field>
        </mat-card>

        <mat-card class="card">
            <mat-form-field appearance="fill">
                <mat-label>Suggestions</mat-label>
                <textarea matInput name="suggestions" type="text" [(ngModel)]="ob.suggestions"></textarea>
            </mat-form-field>
        </mat-card>

        <mat-card class="card" *ngFor="let r of ob.ratings;let i=index">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <mat-label>
                        {{r.question}}
                    </mat-label>

                </div>
                <div class="col-sm-12 col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                        <mat-select matNativeControl name="rating" [(ngModel)]="ob.ratings[i].rating">
                            <mat-option value="{{item.value}}" *ngFor="let item of ratingVals">{{item.data}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-card>


        <mat-card class="card bg-dark">
            <button type="button" (click)="onSubmit()" mat-raised-button color="primary">Submit</button>
        </mat-card>
    </form>
</div>